<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <full_page_cache>
                <async_varnish>
                    <varnish_max_header_length>8000</varnish_max_header_length>
                    <varnish_fetch_tag_limit>1000000</varnish_fetch_tag_limit>
                </async_varnish>
            </full_page_cache>
        </system>
    </default>
</config>
